#welcome-text h2 {
    color: #343a40;
    font-size: 45px;
    padding-bottom: 12px;
}

#welcome-text {
    text-align: center;
    padding: 100px 0px;
}

#welcome-text p {
    color: #777;
    font-size: 16px;
}

.slides {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.slide1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/images/recipe1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    min-width: 60px;
    height: 300px;
    border-radius: 40px;
    margin: 0 20px;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
}

.slide1:hover {
    min-width: 250px;
}

.slide1:hover .slide-info {
    transform: rotate(0deg);
    font-size: 22px;
    left: 20px;
    bottom: 20px;
}

.slide-info {
    position: absolute;
    bottom: 50px;
    right: 0;
    color: white;
    transform: rotate(-90deg);
    font-size: 13px;
    font-weight: 700;
    transition: all 0.5s ease;
}

.slide2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/images/recipe2.jpg);
}

.slide3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/images/recipe3.jpg);
}

.slide4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/images/recipe4.png);
}

.slide5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/images/recipe5.jpg);
}

.slide6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/images/recipe6.jpg);
}

.slide7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/images/recipe7.jpg);
}

.slide8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/images/recipe8.jpg);
}

.slide9 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/images/recipe9.jpg);
}