@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    position: relative;
    width: 275px;
    height: 275px;
    overflow: hidden;
    margin-right: 50px;
    transform: 0.5s;
}

.box:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}

.imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-right: 20px;
}

.imgBx::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgb(43, 38, 38), #000);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .imgBx::before {
    opacity: 1;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}

.content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}

.box:hover .content h2 {
    transform: translateY(0);
    transition-delay: 0.6s;
}

.content p {
    color: #fff;
    transition: 0.5s;
    transform: translateY(200px);
    font-size: 14px;
}

.box:hover .content p {
    transform: translateY(0);
    transition-delay: 0.7s;
}