<%- include("../partial/header.ejs") %>
    <section style="background-image: url(/img/12.jpg);">
        <div>
            <h1 style="color: aliceblue; margin-bottom: 60px; text-align: center;">DIGITAL PRINTING</h1>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/img/5.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>LOW COST</h2>
                        <p class="card-text">Lower cost production is achieved by printing without plates and with less production processes.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/img/6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>SIMPLE</h2>
                        <p class="card-text">Full color print is done in one process without using plates. It enables quick delivery.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/img/7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>QUICK DELIVERY</h2>
                        <p class="card-text">Lightweight and easy to apply, flex banner prints are extremely advantageous in terms of longlasting life.</p>
                    </div>
                </div>
            </div>
        </div>
        <p style="color: aliceblue; padding: 50px;">Digital printing is the process of printing digital-based images directly onto a variety of media substrates. There is no need for a printing plate, unlike with offset printing.Digital printing differs from traditional, analog printing methods--such
            as offset printing--because digital printing machines do not require printing plates. Instead of using metal plates to transfer an image, digital printing presses print the image directly onto the media substrate. Digital production print
            technology is evolving quickly, and digital printing output quality is improving continuously.</p>
    </section>
    <%- include("../partial/footer.ejs") %>