<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services hover</title>
    <link rel="stylesheet" href="/style3.css">
</head>


<body style="background-image: url(/PUBLIC/images/12.jpg);">

    <div class="container">
        <div class="box">

            <div class="imgBx">
                <img src="/PUBLIC/images/4.jpeg">
                <div class="content">
                    <div>
                        <h2>ENVIRONMENT FRIENDLY</h2>
                        <p>Flex Banner printing, which is used extensively indoors, does not pose any risk to human health. </p>

                    </div>
                </div>

            </div>


        </div>
        <div class="box">
            <div class="imgBx">
                <img src="/PUBLIC/images/1.jpeg">
                <div class="content">
                    <div>
                        <h2>BUDGET FRIENDLY</h2>
                        <p>Flex Banner are quite economical and will not force your budget.</p>

                    </div>
                </div>

            </div>


        </div>
        <div class="box">
            <div class="imgBx">
                <img src="/PUBLIC/images/2.jpeg">
                <div class="content">
                    <div>
                        <h2>APPLICABILITY</h2>
                        <p>Lightweight and easy to apply, flex banner prints are extremely advantageous in terms of longlasting life.</p>

                    </div>
                </div>

            </div>


        </div>

    </div>

</body>

</html>