<%- include("../partial/header.ejs") %>

    <body style="background-image: url(/public/images/12.jpg);">
        <div>
            <h1 style="color: aliceblue; margin-bottom: 60px; text-align: center;">FLEX BANNER</h1>
        </div>

        <div class="container" style="margin-left: 300px;">
            <div class="box">

                <div class="imgBx">
                    <img src="/public/images/4.jpeg">
                    <div class="content">
                        <div>
                            <h2>ENVIRONMENT FRIENDLY</h2>
                            <p>Flex Banner printing, which is used extensively indoors, does not pose any risk to human health. </p>

                        </div>
                    </div>

                </div>


            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="/public/images/1.jpeg">
                    <div class="content">
                        <div>
                            <h2>BUDGET FRIENDLY</h2>
                            <p>Flex Banner are quite economical and will not force your budget.</p>

                        </div>
                    </div>

                </div>


            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="/public/images/2.jpeg">
                    <div class="content">
                        <div>
                            <h2>APPLICABILITY</h2>
                            <p>Lightweight and easy to apply, flex banner prints are extremely advantageous in terms of longlasting life.</p>

                        </div>
                    </div>

                </div>


            </div>

        </div>
        <p style="color: aliceblue; padding: 50px;">Flex Banner, also called canvas, is a type of PVCmaterial that contains organic compound mixtures. Because it is extremely durable and lightweight, it is very convenient to be able to print on it. Flex Banner can be considered as the material
            of choice in many different fields thanks to its properties. Flexbanner prints are advertising works that are designed to meet the needs of experts in the field. Flex Banner, a material commonly used in the digital printing industry, is a
            material that is both affordable and durable. The digital printing on this material is called Flex Banner printing.</p>
    </body>
    <%- include("../partial/footer.ejs") %>