<%- include("../partial/header.ejs") %>
    <section style="background-image: url(/img/12.jpg);">

        <div>
            <h1 style="color: aliceblue; margin-bottom: 60px; text-align: center;">GIFTS AND PROMOTIONAL ITEMS</h1>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/img/8.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>RAISE BRAND AWARENESS</h2>
                        <p class="card-text">One of the best ways to “get your name out there” is to do it quite literally; a promotional gift with your company’s logo and name is a great way to raise awareness about your business.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/img/9.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>SAVE MONEY</h2>
                        <p class="card-text">Not only is a business gift a thoughtful token; it can help to advertise your company at a lower price than many other methods. Corporate gifts are among the most cost-effective means of promotion.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/img/10.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>INCREASE SALES</h2>
                        <p class="card-text">Naturally, with greater customer goodwill and brand awareness comes more sales.</p>
                    </div>
                </div>
            </div>
        </div>
        <p style="color: aliceblue; padding: 50px;">Businesses need promotional gifts to reach out to more potential clients or customers. This is one of the cost-effective marketing ways to drive customers and increase sales revenue. They have been in use for promotional activities for years.
            It helps out to entice the recipients and draw their attention to a company’s name. Having a brand name, logo, or a promo message over these best selling promotional gifts always help to promote a business effectively. The companies distribute
            these gifts among the target audience and the aim of behind this is to drive customer interest in the business. There are so many promotional gifts which are very popular and have a large area to add any business name or logo.</p>
    </section>
    <%- include("../partial/footer.ejs") %>