<%- include("../partial/header.ejs") %>
    <section style="background-image: url(/img/12.jpg);">

        <div>
            <h1 style="color: aliceblue; margin-bottom: 60px; text-align: center;">HOARDINGS</h1>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/img/13.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>VISIBILITY</h2>
                        <p class="card-text">It is huge and eye catching for very customer. Hording advertising is placed major thoroughfares and highways, thus, increasing the possibilities of being seen by a great number of people all throughout the day. This advertising
                            medium is effective in catching the attention of the target audience.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/img/14.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>ACCESS TO TARGET AUDIENCE</h2>
                        <p class="card-text">Not only is a business gift a thoughtful token; it can help to advertise your company at a lower price than many other methods. Corporate gifts are among the most cost-effective means of promotion.Hording can be placed in areas
                            chosen by advertisers, it will be easier for these companies to reach a particular or specific consumer group they sell their services and products to.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/img/15.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>AUDIENCE CONVERSION</h2>
                        <p class="card-text">The location and unique design of hoardings are instrumental to making sales and converting an audience into an instant customer. </p>
                    </div>
                </div>
            </div>
        </div>
        <p style="color: aliceblue; padding: 50px;">Advertising hoardings are the large boards erected around a construction site, which can prominently feature printed graphics and designs. While these panels can be (and sadly often are) left blank, they’re hugely effective as the basis for an
            outdoor advertising campaign.These can take almost any form, but usually feature a few standard features such as branding, logos, and the name/address/phone number details of the business placing the advert. The unique format of hoardings
            also makes them a good opportunity for a unique creative design, which makes use of the long, large format with striking imagery or graphic design.</p>
    </section>
    <%- include("../partial/footer.ejs") %>