<%- include("../partial/header.ejs") %>
    <section style="background-image: url(/public/images/12.jpg);">
        <div>
            <h1 style="color: aliceblue; margin-bottom: 60px; text-align: center;">LABELS AND POSTERS</h1>
        </div>

        <div class="container" style="margin-left: 300px;">
            <div class="box">

                <div class="imgBx">
                    <img src="/public/images/16.jpeg">
                    <div class="content">
                        <div>
                            <h2>OFFER CONTINUOS EXPOSURE</h2>
                            <p>People will see your posters for as long as you leave them hanging, though there is wisdom in not allowing them to stay up so long that people begin to tune them out.</p>

                        </div>
                    </div>

                </div>


            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="/public/images/17.jpeg">
                    <div class="content">
                        <div>
                            <h2>DURABLE UV INK</h2>
                            <p>A major advantage of our UV inkjet printer is how durable the UV application makes the printed labels. The inks have a high degree of lightfastness, meaning they resist fading during prolonged exposure to light.</p>

                        </div>
                    </div>

                </div>


            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="/public/images/18.jpeg">
                    <div class="content">
                        <div>
                            <h2>AFFORDABLE</h2>
                            <p>Poster are more affordable than some other advertising methods.he cost of a “poster run” will obviously depend on size, quantity and any special modifications. </p>

                        </div>
                    </div>

                </div>


            </div>

        </div>
        <p style="color: aliceblue; padding: 50px;">Whether you’re trying to reach out to customers to advertise a business, employees at a workplace, guests at an event or personal events like birthdays, eye-catching personalized posters are a great way to promote your brand and get your message
            across. We offer thousands of pre-designed templates which mean that you can create a professional-looking design in seconds. <br><br>Show your customers the care and attention to detail that goes into every one of the products you sell. Custom
            product labels do so much more than just look professional: they're an invaluable way to help people decide whether you and your products are right for them. List the ingredients used in your food or bath and body products, list directions
            on bags and bottles, or keep it super simple by adding your logo and the name of the product. Whatever you're selling, our full-color digital printing technology - and an assortment of size, design and material options - makes it easy to create
            a clear, attractive and functional label.</p>
    </section>
    <%- include("../partial/footer.ejs") %>