<%- include("../partial/header.ejs") %>
    <section style="background-image: url(/public/images/12.jpg);">
        <div>
            <h1 style="color: aliceblue; margin-bottom: 60px; text-align: center;">SCREEN AND OFFSET PRINTING</h1>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/img/19.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>LONG LASTING AND DURABLE</h2>
                        <p class="card-text">Due to the composition and thickness of inks used in screen printing, designs placed with this method can withstand far more stress than others without losing the quality of the print.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/img/21.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>COST EFFECTIVE</h2>
                        <p class="card-text">Large quantities can be printed cost effectively The more you print, the cheaper the price per piece.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/img/20.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>USE OF VARIOUS INKS</h2>
                        <p class="card-text">Screen printing allows for greater thickness of the ink than other techniques, which result in greater possibilities when it comes to the finish of the piece.</p>
                    </div>
                </div>
            </div>
        </div>
        <p style="color: aliceblue; padding: 50px;">Offset printing technology uses plates, usually made from aluminum, which are used to transfer an image onto a rubber "blanket", and then rolling that image onto a sheet of paper. It's called offset because the ink is not transferred directly
            onto the paper. Because offset presses run so efficiently once they are set up, offset printing is the best choice when larger quantities are needed, and provides accurate color reproduction, and crisp, clean professional looking printing.
            <BR>
            </BR>
            Screen printing is the process of pressing ink through a stencilled mesh screen to create a printed design. It’s a popular technique used in a whole range of different industries, so even if you've never heard of the term before today, it’s likely that
            you’ve worn or used a screen-printed product at some point without even realising. The process is sometimes called serigraphy or silk screen printing, but all of these names refer to the same basic method.
        </p>
    </section>
    <%- include("../partial/footer.ejs") %>