<%- include("../partial/header.ejs") %>
    <section style="background-image: url(/public/images/12.jpg);">
        <div>
            <h1 style="color: aliceblue; margin-bottom: 60px; text-align: center;">SIGNAGES</h1>
        </div>

        <div class="container" style="margin-left: 300px;">
            <div class="box">

                <div class="imgBx">
                    <img src="/public/images/22.jpeg">
                    <div class="content">
                        <div>
                            <h2>ENHANCED ENGAGEMENT</h2>
                            <p>Digital displays capture 400% more views than static displays, and 8/10 customers claim to have entered a store simply because digital signage caught their attention.</p>

                        </div>
                    </div>

                </div>


            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="/public/images/23.png">
                    <div class="content">
                        <div>
                            <h2>GREATER SATISFACTION</h2>
                            <p>Digital signage can have a huge effect on your customers’ overall experiences. customers that interact with digital signage report 46% higher satisfaction. </p>

                        </div>
                    </div>

                </div>


            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="/public/images/24.png">
                    <div class="content">
                        <div>
                            <h2>HIGHER GROWTH</h2>
                            <p>many brands experience a significant increase in sales after implementing digital signage.digital signage frequently leads to more in-store traffic and customers spend significantly longer inside. </p>

                        </div>
                    </div>

                </div>


            </div>

        </div>
        <p style="color: aliceblue; padding: 50px;">Digital signage brings new life to any commercial environment. The impact of static signs is becoming less significant, but digital signage, on the other hand, is designed to catch the attention of consumers and deliver messages that are custom
            designed to improve their experience. A digital signage display can show graphics, video, and other content on anything from small form factor screens to giant video walls. What about interactive digital signage? This interactive technology
            takes things to another level, allowing customers to interact with content that can include product research, locating inventory, viewing more product options, and even opportunities to virtually "try-on" products.</p>
    </section>
    <%- include("../partial/footer.ejs") %>