<%- include("../partial/header.ejs") %>
    <section style="background-image: url(/PUBLIC/images/12.jpg);">
        <div>
            <h1 style="color: aliceblue; margin-bottom: 60px; text-align: center;">STATIONARY PRINTING</h1>
        </div>

        <div class="container" style="margin-left: 300px;">
            <div class="box">

                <div class="imgBx">
                    <img src="/public/images/29.jpeg">
                    <div class="content">
                        <div>
                            <h2>EASY TO DESIGN</h2>
                            <p>Speaking of business stationery design… this is actually really easy to do. Especially since we have loads of free templates to hep get you started. </p>

                        </div>
                    </div>

                </div>


            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="/public/images/30.jpeg">
                    <div class="content">
                        <div>
                            <h2>BRAND CONSISTENCY</h2>
                            <p>From notes to clients to business letters, all types of communications your small business sends out should be instantly recognisable as coming from you. So, make sure to use your startup’s brand guideline to help inform your
                                design decisions!</p>

                        </div>
                    </div>

                </div>


            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="/public/images/31.jpeg">
                    <div class="content">
                        <div>
                            <h2>PROFESSIONALISM</h2>
                            <p>As a small business, one of your main focuses is making a great first impression. There’ll be plenty of people who haven’t come into contact with your brand yet, so being remembered for all the right reasons is key to growing
                                your business. By creating your own personalised business stationery, you’re showing that your business means business.</p>

                        </div>
                    </div>

                </div>


            </div>

        </div>
        <p style="color: aliceblue; padding: 50px;">Professional stationery printing is an important step for any business to take for several reasons. First, stationery gives your brand credibility. It’s hard to take a business seriously if they haven’t invested the time in something as fundamental
            as putting their name on their own materials. Second, it strengthens your brand, helping it appear competent and polished. Lastly, using your own business stationery is an effortless way to spread your brand. Every envelope sent, every invoice
            written, and every casual doodle in the office becomes an opportunity for spreading and strengthening your brand.
            <br> Printed stationery is also an opportunity to spread your contact details at all points of your business processes. Customers won’t have to exert effort tracking down your contact details, possibly costing you a sale. This also makes creating
            repeat customers simple -- they would already have your details on envelopes and invoices. This makes stationery printing a crucial component at every single part of the sales funnel.
            <br> We offer a wide range of options for envelopes, invitations, pens, letterhead, notebooks, thank you cards, and other stationery materials. This high customizability allows you to build a suite of stationery that can cover your business
            needs, no matter the branding. If you can think it, we can print it.

            <br> To make things even better, we offer fast turnaround times, making it easy to get the stationery you want right when you want it. Contact us to learn more about our stationery printing services.

        </p>
    </section>
    <%- include("../partial/footer.ejs") %>