<%- include("../partial/header.ejs") %>
    <section style="background-image: url(/PUBLIC/images/12.jpg);">
        <div>
            <h1 style="color: aliceblue; margin-bottom: 60px; text-align: center;">VISITING CARDS</h1>
        </div>

        <div class="container" style="margin-left: 300px;">
            <div class="box">

                <div class="imgBx">
                    <img src="/public/images/26.jpeg">
                    <div class="content">
                        <div>
                            <h2>VERSATALITY</h2>
                            <p>Business cards pack a lot of information about your business, even after being so small in size. Business cards can be used as an advertising device, or a coupon or a deal, or just simply offering information about a business.
                                But be careful in the amount of information you add on a business card. </p>

                        </div>
                    </div>

                </div>


            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="/public/images/27.jpeg">
                    <div class="content">
                        <div>
                            <h2>AFFORDABLE</h2>
                            <p>Budget is often an issue for small businesses.By ordering these business cards in bulk, you are presented with an effective marketing tool in a limited budget. </p>

                        </div>
                    </div>

                </div>


            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="/public/images/25.jpeg">
                    <div class="content">
                        <div>
                            <h2>GOOD FIRST IMPRESSION</h2>
                            <p>First impressions are always important, be it in business or personal lives. When you come across a great prospect, you would want to offer a great first impression. In order to create a great first impression, having a beautifully
                                designed business card is a must. </p>

                        </div>
                    </div>

                </div>


            </div>

        </div>
        <p style="color: aliceblue; padding: 50px;">A business card is the most basic yet essential marketing tool every business must-have. It provides a convenient, relatively low-priced method to promote your business to everyone you meet, everywhere you go. However, most of the time the business
            card is left under-appreciated and very little thought or time is devoted to designing this crucial communication tool. Smart design strategists turn the business cards into an impressive marketing tool. The planning speaks favourably for
            business, every design element like colour, typeface, space, image, and logo, etc. has its planned use within the card for the specified impact.</p>
    </section>
    <%- include("../partial/footer.ejs") %>