<%- include("../partial/header.ejs") %>
    <header>
        <div class="container">
            <div class="header-info-par">
                <p class="demo">
                </p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, minima! Ex in dolore placeat, nisi impedit reiciendis .</p>

            </div>
            <div class="video">
                <video id="video" autoplay loop muted>
                    <source src="/img/homepagevideo.mp4" type="video/mp4">
                    

                </video>
            </div>
        </div>
    </header>

    <%- include("../partial/footer.ejs") %>