<%- include("../partial/header.ejs") %>

    <body style="background-image: url(/img/12.jpg);">
        <section id="welcome-text">
            <div class="container">
                <h2 style="color: rgba(49, 103, 135, 0.993);">PRINTING AND ADVERTISING SERVICES.</h2>
                <p style="font-size: large; color:rgba(59, 127, 165, 0.993) ;">Is your brand tiring and in need of some new energy? <br> Do your marketing materials lack a 'wow' factor? <br> When it comes to marrying creativity and graphic design our staff will take you from concept to completion. Regardless of size,
                    scope or medium, we can deliver everything from e-books, print and digital publications as well as brochures, product catalogs and adding vehicle graphics to your company fleet. <br> We launched our business in printing and design
                    and still deliver results for companies large and small who recognize the value of great design and intelligent distribution.</p>

            </div>

        </section>
        <section id="slides-par" class="mountains">
            <div class="container">
                <div class="slides " style=" margin-left: 200px; margin-right: 200px; ">
                    <div class="slide1 ">
                        <div class="slide-info ">
                            <a href="/Services/FlexBanner">
                                <p>Flex Banner </p>
                            </a>
                        </div>
                    </div>
                    <div class="slide1 slide2 ">
                        <div class="slide-info ">
                            <a href="/Services/Digital">
                                <p>Digital Printing</p>
                            </a>
                        </div>
                    </div>
                    <div class="slide1 slide3 ">
                        <div class="slide-info ">
                            <a href="/Services/ScreenPrinting">
                                <p>Screen and Offset Printing</p>
                            </a>
                        </div>
                    </div>
                    <div class="slide1 slide4 ">
                        <div class="slide-info ">
                            <p>Signages</p>
                        </div>
                    </div>
                    <div class="slide1 slide5 ">
                        <div class="slide-info ">
                            <p>Lables and Posters</p>
                        </div>
                    </div>
                    <div class="slide1 slide6 ">
                        <div class="slide-info ">
                            <p>Visiting Cards</p>
                        </div>
                    </div>
                    <div class="slide1 slide7 ">
                        <div class="slide-info ">
                            <p>Stationary Printing</p>
                        </div>
                    </div>
                    <div class="slide1 slide8 ">
                        <div class="slide-info ">
                            <p>Hoardings</p>
                        </div>
                    </div>
                    <div class="slide1 slide9 ">
                        <div class="slide-info ">
                            <p>Gifts and Promotional items</p>
                        </div>
                    </div>
                </div>
            </div>
    </body>
    <%- include("../partial/footer.ejs") %>