<%- include("../partial/header.ejs") %>
    <section style="background-color: black;">
        <section id="welcome-text">
            <div class="container">
                <h2>Printing Services</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae omnis dolor iusto id voluptatibus hic sit dicta! Harum, sed laborum.</p>

            </div>

        </section>
        <section id="slides-par" class="mountains">
            <div class="container">
                <div class="slides" style="background-color: black;">
                    <div class="slide1 ">
                        <div class="slide-info">
                            <p>Flex Banner</p>
                        </div>
                    </div>
                    <div class="slide1 slide2">
                        <div class="slide-info">
                            <p>Digital Printing</p>
                        </div>
                    </div>
                    <div class="slide1 slide3">
                        <div class="slide-info">
                            <p>Screen and Offset Printing</p>
                        </div>
                    </div>
                    <div class="slide1 slide4">
                        <div class="slide-info">
                            <p>Signages</p>
                        </div>
                    </div>
                    <div class="slide1 slide5">
                        <div class="slide-info">
                            <p>Lables and Posters</p>
                        </div>
                    </div>
                    <div class="slide1 slide6">
                        <div class="slide-info">
                            <p>Visiting Cards</p>
                        </div>
                    </div>
                    <div class="slide1 slide7">
                        <div class="slide-info">
                            <p>Stationary Printing</p>
                        </div>
                    </div>
                    <div class="slide1 slide8">
                        <div class="slide-info">
                            <p>Hoardings</p>
                        </div>
                    </div>
                    <div class="slide1 slide9">
                        <div class="slide-info">
                            <p>Gifts and Promotional items</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <%- include("../partial/footer.ejs") %>