<footer class="bg-dark text-white-50 text-center mt-auto py-3 bg-light">
    &copy; 2022 Adhunik
    <br> Create By:- Rhea | Siddharth | Sarthak
    <br>
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    <i class="fa fa-facebook-square" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <i class="fa fa-twitter-square" aria-hidden="true"></i>

</footer>

</body>

</html>