<footer class="bg-dark text-white-50 text-center mt-5 p-3">
    &copy; 2021 Sarthak Kumar - <a href="https://github.com/sarthakkumar2" target="_blank" class="text-white-50">GitHub</a> | <a href="https://www.linkedin.com/in/sarthak-kumar-010787222/" target="_blank" class="text-white-50">LinkedIn</a>
    </a>
</footer>
</body>

</html>